@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden !important;
    backdrop-filter: blur(30px) ;
    background: rgb(35 30 30);
}

.slick-dots {
    @apply bottom-8;
}

.slick-dots li button {
    background-color: rgba(217, 217, 217, 0.3);
    width: 28px;
    height: 4px !important;
    padding: 0;
}

.slick-dots li {
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 4px;

}

.slick-dots li.slick-active {
    opacity: .75;
    background-color: rgb(217, 217, 217);
    width: 28px;
    height: 4px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent;
}

.slick-dots li button:before {
    color: transparent;
}

.card-img {
    height: 260px !important;
    object-fit: cover;
}


.custom-slide:hover {
    transform: scale(1.3);
    transition: all .3s ease-in-out;
    z-index: 9999999;
}
.slider-container button{
    display: none !important;
}
.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}
.slick-list{
    margin-right: -20px;
    overflow: visible;
}
footer a:hover{
    color: white;
}

.label-container {
    position: relative;
    padding-left: 30px;
    margin-bottom: 18px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 1;
  }
  
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid rgb(109, 109, 109);
    background: rgb(48, 48, 48);
  }
  
  .label-container input:checked ~ .checkmark {
    background-color: #E13C52;
    border: 2px solid transparent;
  }
  
  .checkmark::after {
    content: "";
    position: absolute; 
    display: none;
  }
  
  .label-container input:checked ~ .checkmark::after {
    display: block;
  }
  
  .label-container .checkmark::after {
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root{
    background-color: #191919 !important;
    outline: none !important;
    border: none  !important;
  }
  .css-i4bv87-MuiSvgIcon-root{
    color: white;
  }
  @media (max-width: 768px) {
    .slick-dots {
      display: none !important;
    }
  }
  
  .profile-left .active{
    background-color: #E13C52;
  }





  .preloader {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto !important;
}
.preloader-inner{
  position: relative;
}
.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #E13C52;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #131313;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    text-align: center;
    display: inline-block;
    transform: translateY(-50%);
    padding-top: 6px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
}
.preloader .preloader-img img {
    max-width: 55px;
}
@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}
